section h6 {
    text-align: center;
    font-style: bold;
}

.tile {
    text-align: center;
    margin: auto;
}

body {
    background-color: lightgrey;
    height: 120vh;
}

.weather-box {
    background-color: blue;
    color: white;
}

.hero p {
    text-align: center;
}

footer {
    height: 120vh;
}


/*.hero {
    background-image: url(./images/football-870283_1920.jpg);
}